/* CSS for kanban board Tumblr theme */

/* Column width, margin */
.container {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
.container > * {
    text-align: left;
}
.column {
    display: inline-block;
    float: left;
    width: 24%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}
.single_column {
    width: 99%;
}
.hidden {
    display: none;
}
.select {
    text-align: center;
    margin-bottom: 20px;
}
.select > * {
    display: inline-block;
}

/* Column headings */
.column_heading {
    text-align: center;
}
.column_heading > h2 {
    margin-top: 0px;
}
#todo_heading {
    color: green;
}
#longterm_heading {
    color: yellow;
}
#highpriority_heading {
    color: red;
}
#doing_heading {
    color: blue;
}

/* Controls */
.edit_control {
}
.edit_control:hover {
    color: #818489;
}
.edit_control > a:link {
    text-decoration: none;
    font-size: 23px;
    margin-left: 4px;
}
.gcal_control{
    font-family: Arial;
}
.gcal_control:hover {
    color: #818489;
}
.gcal_control > a:link {
    text-decoration: none;
    font-size: 23px;
    margin-left: 4px;
}

/* Per-post style classes */
.hide {
  display: none;
}
.del {
  text-decoration: line-through;
}
.scroll {
  max-height: 350px;
  overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
  width: 10px;
}
.scroll::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}
