/* CSS for kanban board Tumblr theme */

/* Column width, margin */
.container {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
.container > * {
    text-align: left;
}
.column {
    display: inline-block;
    float: left;
    width: 24%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

/* Column headings */
.column_heading {
    text-align: center;
}
.column_heading > h2 {
    margin-top: 0px;
}
#todo_heading {
    color: green;
}
#longterm_heading {
    color: yellow;
}
#highpriority_heading {
    color: red;
}
#doing_heading {
    color: blue;
}

/* Controls */
.edit_control {
}
.edit_control:hover {
    color: #818489;
}
.edit_control > a:link {
    text-decoration: none;
    font-size: 23px;
    margin-left: 4px;
}
.gcal_control{
    font-family: Arial;
}
.gcal_control:hover {
    color: #818489;
}
.gcal_control > a:link {
    text-decoration: none;
    font-size: 23px;
    margin-left: 4px;
}
